spring:
  application:
    name: gateway-service
  config:
    import: optional:configserver:${SPRING_CLOUD_CONFIG_URI:http://localhost:9999}/

server:
  port: 8888

# Eureka Configuration
eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
